<div class="setup-section">
  <h3>Game Mode</h3>
  <mat-radio-group [value]="setupForm.gameMode().value()" (change)="setupForm.gameMode().value.set($event.value)">
    <mat-radio-button value="individual">Individual</mat-radio-button>
    <mat-radio-button value="team">Team</mat-radio-button>
  </mat-radio-group>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Points settings
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="setup-section">
      <h3>Target Points</h3>
      <mat-form-field>
        <mat-label>Points to win</mat-label>
        <input matInput
               #pointsToWin
               type="number"
               [value]="setupForm.targetPoints().value()"
               (input)="setupForm.targetPoints().value.set(pointsToWin.valueAsNumber)"
               aria-label="Target points to win">
      </mat-form-field>
    </div>

    <div class="setup-section">
      <h3>Minimum Points per Turn</h3>
      <mat-form-field>
        <mat-label>Minimum points</mat-label>
        <input matInput
               #minPointsPerTurn
               type="number"
               [value]="setupForm.minPointsPerTurn().value()"
               (input)="setupForm.minPointsPerTurn().value.set(minPointsPerTurn.valueAsNumber)"
               aria-label="Minimum points per turn">
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div class="setup-section">
  <h3>{{ setupForm.gameMode().value() === 'individual' ? 'Players' : 'Teams & Players' }}</h3>

  <div class="add-player-form">
    <mat-form-field>
      <mat-label>{{ setupForm.gameMode().value() === 'individual' ? 'Player Name' : 'Team Name' }}</mat-label>
      <input matInput #nameInput (keyup.enter)="addItem(nameInput.value); nameInput.value = ''" [aria-label]="setupForm.gameMode().value() === 'individual' ? 'Enter Player Name' : 'Enter Team Name'">
    </mat-form-field>
    <button matFab
            class="btn-success"
            (click)="addItem(nameInput.value); nameInput.value = ''; nameInput.focus()"
            [aria-label]="setupForm.gameMode().value() === 'individual' ? 'Add Player' : 'Add Team'">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  @if (setupForm.gameMode().value() === 'individual') {
    <mat-list>
      @for (player of players(); track player.id) {
        <mat-list-item>
          <span matListItemTitle>{{ player.name }}</span>
          <button matIconButton  class="btn-warn" (click)="removeItem(player.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      }
    </mat-list>
  } @else {
    @for (team of teams(); track team.id) {
      <mat-card class="team-card">
        <mat-card-header>
          <mat-card-title>{{ team.name }}</mat-card-title>
          <button matIconButton class="btn-warn" (click)="removeItem(team.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div class="add-player-to-team">
            <mat-form-field>
              <mat-label>Player Name</mat-label>
              <input
                matInput
                #playerInput
                (keyup.enter)="addPlayerToTeam(team.id, playerInput.value); playerInput.value = ''">
            </mat-form-field>
            <button matFab class="btn-success" (click)="addPlayerToTeam(team.id, playerInput.value); playerInput.value = ''; playerInput.focus()">
              <mat-icon>add</mat-icon>
            </button>

          </div>
          <mat-list>
            @for (playerId of team.playerIds; track playerId) {
              <mat-list-item>
                <span matListItemTitle>{{ playerMap().get(playerId)?.name }}</span>
                <button matIconButton class="btn-warn" (click)="removePlayerFromTeam(team.id, playerId)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            }
          </mat-list>
        </mat-card-content>
      </mat-card>
    }
  }
</div>

<div class="actions">
  <button matButton="filled" [disabled]="!canNext()" (click)="onNext()">
    NEXT: SET ORDER
  </button>
</div>
