@use '../../../styles/player-item';

.setup-section {
  margin-bottom: 24px;
}
mat-accordion {
  margin-bottom: 24px;
  display: block;
}
.add-player-form, .add-player-to-team {
  display: flex;
  gap: 8px;
  align-items: center;

  mat-form-field {
    flex: 1;

    ::ng-deep {
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
      .mat-mdc-form-field-bottom-align {
        display: none;
      }
    }
  }
}

.team-card {
  margin-top: 16px;
  border: 1px solid #eee;
  background: #f5fbff;

  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 2px;
  }

  mat-card-content {
    padding-top: 12px;
  }

  mat-card-title {
    margin: 0;
  }
}

.mat-list-base .mat-list-item {
  cursor: move;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.player-actions {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
