<div class="page-container">
  <mat-card>
    <div class="page-header-row">
      <mat-card-title>{{ phase().title }}</mat-card-title>
      <span class="spacer"></span>
      <div>
        @for (button of phase().actionButtons; track button) {
                <button
                    matButton="filled"
                    [class]="button.class"
                    (click)="onAction(button.action)"
                    [attr.aria-label]="button.label"
                  >
                    {{ button.label }}
                  </button>
        }
      </div>
    </div>

    <mat-card-content class="page-content">
      <router-outlet />
    </mat-card-content>
  </mat-card>
</div>
