<p>Drag and drop players to set their order around the table.</p>
<p class="description">Select the starting player for the next game using the radio buttons.</p>

<mat-radio-group [value]="selectedStartingPlayerId()" (change)="selectedStartingPlayerId.set($event.value)">
  <mat-list cdkDropList (cdkDropListDropped)="dropOrderedPlayer($event)">
    @for (player of orderedPlayers(); track player.id) {
      <mat-list-item cdkDrag class="player-item draggable">
        <div class="player-item-content">

          <!--drag icon-->
          <span class="player-control-cell flex-row flex-align-center flex-justify-center">
              <mat-icon cdkDragHandle class="drag-handle">drag_handle</mat-icon>
            </span>

          <!--selection, which player starts a game-->
          <span class="player-control-cell flex-row flex-align-center flex-justify-center">
              <mat-radio-button [value]="player.id"></mat-radio-button>
            </span>

          <!--player name/team-->
          <span class="player-text flex-col flex-justify-center" >
              <span class="player-name text-ellipsis">{{ player.name }}</span>

            @if (gameMode() === 'team') {
              <span class="team-hint text-ellipsis">({{ getTeamName(player.id) }})</span>
            }
            </span>
        </div>
      </mat-list-item>
    }
  </mat-list>
</mat-radio-group>

<div class="page-actions">
  <button matButton="filled" class="btn-accent" (click)="onBackToSetup()">SETUP</button>
  <button matButton="filled" class="btn-success" (click)="onConfirm()">START GAME</button>
</div>

